name: Pyscroll

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    name: Python ${{ matrix.python-version }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip

    - name: Install dependencies
      run: |
        pip install ruff pytest
        pip install .

    - name: Lint with Ruff
      run: |
        ruff check --output-format=github .
        ruff format --check

    - name: Run tests
      run: pytest tests
